<% include ./../partials/header %>


<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to BookShare</h1>
			<p>Share Books, Share Knowledge</p>
			<p>
				<a class="btn btn-primary btn-lg" href="/books/new">Add Your Book</a>
			</p>
		</div>
	</header>
	
	<div class="row" style="display:flex; flex-wrap: wrap;">
		<% books.forEach(function(book) {	%>
			<div class="col-md-3 col-sm-6">
				<div class="card text-center">
					<img src="<%= book.image %>" class="card-img-top">
					<div class="card-body">
						<div class="card-title"><%= book.title %></div>
						<a href="/books/<%= book._id%>" class="btn btn-primary btn-sm">More Info</a>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
</div>
<% include ./../partials/footer %>
