<% include ./../partials/header %>
<div class="row">
	<div class="container">
		<h1 style="text-align: center">Add A New Book</h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/books" method='POST'>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="title" name="title">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="author" name="author">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="image url" name="image">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="description" name="description">
				</div>
				<div class="form-group">
					<label for="location">Price in $</label>
					<input class="form-control" type="number" placeholder="price" name="price" step="0.1" min="0" required>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<input class="form-control" type="text" placeholder="Your location" name="location">
				</div>
				<div class="form-group">
					<input class="btn btn-lg btn-primary btn-default btn-block" type="submit">
				</div>
			</form>
			<a href="/books">go back</a>
		</div>
	</div>
</div>

<% include ./../partials/footer %> 
