<% include ./../partials/header %>
<div class="row">
	<div class="container">
		<h1 style="text-align: center">Add a new comment to <%= campground.name %></h1>
		<div style="width: 30%; margin: 30px auto;">
			<form action="/campgrounds/<%= campground._id %>/comments" method='POST'>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="text" name="comment[text]">
				</div>
				<!-- <div class="form-group">
					<input class="form-control" type="text" placeholder="author" name="comment[author]">
				</div> -->
				<div class="form-group">
					<input class="btn btn-lg btn-primary btn-default btn-block" type="submit">
				</div>
			</form>
			<a href="/campgrounds">go back</a>
		</div>
	</div>
</div>

<% include ./../partials/footer %> 